{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>System {% block title %}{% endblock title %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'crispy-forms/css/crispy.css' %}">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Tu CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <i class="bx bx-menu menu-icon"></i>
        <span class="logo-name">Physio</span>
      </div>
      <div class="sidebar">
        <div class="logo">
          <i class="bx bx-menu menu-icon"></i>
          <span class="logo-name">Menu</span>
        </div>
        <div class="sidebar-content">
          <ul class="lists">
            <li class="list">
              <a href="/inicio/" class="nav-link">
                <i class="bx bx-home-alt icon"></i>
                <span class="link">Inicio</span>
              </a>
            </li>
            <li class="list">
              <a href="/pacientes/" class="nav-link">
                <i class='bx bxs-user-badge icon'></i>
                <span class="link">Pacientes</span>
              </a>
            </li>
            <li class="list">
              <a href="/consultas/" class="nav-link">
                <i class="bx bx-folder-open icon"></i>
                <span class="link">Consultas</span>
              </a>
            </li>
            <li class="list">
              <a href="/citas/" class="nav-link">
                <i class='bx bx-data icon'></i>
                <span class="link">Citas</span>
              </a>
            </li>
            <li class="list">
              <a href="/ejercicios/" class="nav-link">
                <i class='bx bx-run icon'></i>
                <span class="link">Ejercicios</span>
              </a>
            </li>
            <li class="list">
              <a href="/estadisticas/" class="nav-link">
                <i class='bx bxs-report icon'></i>
                <span class="link">Reportes</span>
              </a>
            </li>
          </ul>
          <div class="bottom-cotent">
            <li class="list">
              <a href="#" class="nav-link">
                <i class='bx bx-user icon'></i>
                <span class="nav-label">@{{ user.username }}</span>
              </a>
            </li>
            <li class="list">
              <a href="{% url 'logout' %}" class="nav-link">
                <i class="bx bx-log-out icon"></i>
                <span class="link">Logout</span>
              </a>
            </li>
          </div>
        </div>
      </div>
    </nav>

    <section class="overlay"></section>

    <div class="content py-4">
      <div class="container">
        {% block content %}
        {% endblock content %}
      </div>
    </div>

    
    <!-- JS estáticos -->
    <script src="{% static 'script.js' %}"></script>

    <!-- ECharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.6.0/echarts.min.js"></script>

    <!-- Menú lateral + Resize de gráficos -->
    <script>
      const navBar = document.querySelector("nav"),
        menuBtns = document.querySelectorAll(".menu-icon"),
        overlay = document.querySelector(".overlay");

      menuBtns.forEach((menuBtn) => {
        menuBtn.addEventListener("click", () => {
          navBar.classList.toggle("open");

          setTimeout(() => {
            const chartContainers = document.querySelectorAll(".echart-container");
            chartContainers.forEach(container => {
              const chart = echarts.getInstanceByDom(container);
              if (chart) chart.resize();
            });
          }, 400);
        });
      });

      overlay.addEventListener("click", () => {
        navBar.classList.remove("open");

        setTimeout(() => {
          const chartContainers = document.querySelectorAll(".echart-container");
          chartContainers.forEach(container => {
            const chart = echarts.getInstanceByDom(container);
            if (chart) chart.resize();
          });
        }, 400);
      });
    </script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Bootstrap Bundle (JS + Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
