{% extends 'base.html' %}
{% load static %}

{% block title %} | Home {% endblock title %}

{% block content %}

<style>
    
    .carousel-img {
    height: 500px;   
    width: auto;     
    object-fit: contain;
    }


    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .hero {
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), 
                    url("{% static 'images/clinica-bg.jpg' %}") center/cover no-repeat;
        color: white;
        text-align: center;
        padding: 80px 20px 60px; /* arriba, lados, abajo (menos espacio abajo) */
    }

    .hero h1 {
        font-size: 3rem;
        font-weight: bold;
        animation: fadeInDown 1s;
        margin-bottom: 15px; /* espacio bajo el título */
    }

    .hero img {
        margin: 15px 0; /* aire arriba y abajo del logo */
    }

    .hero p {
        font-size: 1.2rem;
        margin-top: 10px; /* menos espacio que antes */
        animation: fadeInUp 1.5s;
    }

    .hero .btn {
        margin: 10px;
        border-radius: 30px;
        padding: 12px 25px;
        font-size: 1.1rem;
    }
    .categories-list div {
        transition: all 0.3s ease;
    }
    .categories-list div:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        }
    .gallery img {
        border-radius: 15px;
        transition: transform 0.3s;
    }
    .gallery img:hover {
        transform: scale(1.05);
    }
    @keyframes fadeInDown {
        from {opacity:0; transform: translateY(-20px);}
        to {opacity:1; transform: translateY(0);}
    }
    @keyframes fadeInUp {
        from {opacity:0; transform: translateY(20px);}
        to {opacity:1; transform: translateY(0);}
    }
</style>

<!-- HERO -->
<section class="hero">
    <h1>Physio Specialized</h1>
    <img src="{% static 'images/logo.jpeg' %}" class="rounded shadow"  alt="Doctor" style="width: 100px; height: auto;">
    <p>Somos una clínica de fisioterapia especializada en rehabilitación física, 
        prevención de lesiones y mejora de la calidad de vida tanto de población con condiciones patologicas
         como en población que quiere mejorar su salud física</p>
    <a href="https://wa.me/50372881392" target="_blank" class="btn btn-success shadow">💬 WhatsApp</a>
    <a href="/citascliente/" class="btn btn-primary shadow">📅 Agendar Cita</a>
</section>

<!-- SOBRE EL DOCTOR -->
<section class="container py-5 text-center">
    <h2 class="mb-4">Conoce a nuestro especialista</h2>
    <div class="row align-items-center">
        <div class="col-md-4">
            <img src="{% static 'images/doctor.jpeg' %}" class="rounded shadow"  alt="Doctor" style="width: 350px; height: auto;">

        </div>
        <div class="col-md-8">
            <h3>Dr. Elmer Mena</h3>
            <p>Soy Máster. Elmer Mena Fisioterapeuta con más de 8  años de experiencia en el área de rehabilitación y prevención, 
                fundador y CEO de Physio Specialized donde mi objetivo como profesional es brindarte fisioterapia de precisión para 
                que alcances una optima recuperación física.</p>
            
        </div>
    </div>
</section>

<!-- CARRUSEL DE FOTOS -->
<section class="container py-5">
    <h2 class="text-center mb-4">Nuestra Clínica</h2>
    <div id="clinicCarousel" class="carousel slide" data-bs-ride="carousel">
        
        <!-- Contenedor correcto -->
        <div class="carousel-inner text-center">
            <div class="carousel-item active">
                <img src="{% static 'images/clinica1.jpeg' %}" 
                     class="carousel-img d-inline-block" 
                     alt="Clínica 1">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/clinica2.jpeg' %}" 
                     class="carousel-img d-inline-block" 
                     alt="Clínica 2">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/clinica3.jpeg' %}" 
                     class="carousel-img d-inline-block" 
                     alt="Clínica 3">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/clinica4.jpeg' %}" 
                     class="carousel-img d-inline-block" 
                     alt="Clínica 4">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/clinica5.jpeg' %}" 
                     class="carousel-img d-inline-block" 
                     alt="Clínica 5">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/clinica6.jpeg' %}" 
                     class="carousel-img d-inline-block" 
                     alt="Clínica 6">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/clinica7.jpeg' %}" 
                     class="carousel-img d-inline-block" 
                     alt="Clínica 7">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/clinica8.jpeg' %}" 
                     class="carousel-img d-inline-block" 
                     alt="Clínica 8">
            </div>
            
        </div>

        <!-- Controles -->
        <button class="carousel-control-prev" type="button" data-bs-target="#clinicCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#clinicCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</section>


<!-- MISIÓN, VISIÓN Y VALORES -->
<section class="container py-5">
    <div class="row text-center g-4">
        <!-- Misión -->
        <div class="col-md-6">
            <div class="p-4 bg-light rounded shadow h-100">
                <h2 class="mb-3">Nuestra Misión</h2>
                <p>
                    Mejorar la calidad de vida de la población en general, a través de la Fisioterapia y Terapia 
                    ocupacional como un modelo de intervención de primera línea en la prevención, diagnóstico y 
                    tratamiento de las diferentes afecciones y lesiones que afectan la funcionalidad humana y amenazan 
                    con secuelas discapacitantes.
                </p>
            </div>
        </div>

        <!-- Visión -->
        <div class="col-md-6">
            <div class="p-4 bg-light rounded shadow h-100">
                <h2 class="mb-3">Nuestra Visión</h2>
                <p>
                    Ser un modelo de referencia en Fisioterapia de precisión a nivel occidental a través del diagnóstico oportuno, 
                    tratamiento de vanguardia y prevención primaria de las diferentes lesiones y enfermedades que afectan la salud y 
                    calidad de vida de la población en general.
                </p>
            </div>
        </div>
    </div>

    <!-- Valores (debajo, centrado) -->
    <div class="row text-center g-4 mt-4">
        <div class="col-md-8 offset-md-2">
            <div class="p-4 bg-light rounded shadow h-100">
                <h2 class="mb-3">Nuestros Valores</h2>
                <p>
                    Equidad, Empatia, Etica, Pasion, Calidad Humana, Comprimiso, Respeto, Responsabilidad, Profesionalismo,
                    Rectitud e Integridad.
                </p>
            </div>
        </div>
    </div>
</section>


<!-- ESPECIALIDADES -->
<section class="categories py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-4">Especialidades</h2>
        <div class="row gx-4 gy-4 categories-list justify-content-center">
            <div class="col-md-4 col-lg-3">
                <div class="p-3 bg-white rounded shadow">Fisioterapia Deportiva</div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="p-3 bg-white rounded shadow">Fisioterapia Respiratoria</div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="p-3 bg-white rounded shadow">Fisioterapia Cardiovascular</div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="p-3 bg-white rounded shadow">Fisioterapia neurologícaz</div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="p-3 bg-white rounded shadow">Fisioterapia Ortopédica y traumatología</div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="p-3 bg-white rounded shadow">Fisioterapia pediátrica</div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="p-3 bg-white rounded shadow">Fisioterapia del suelo pelvico</div>
            </div>
            
             
        </div>

    </div>
</section>


<!-- CONTACTO -->
<section class="contact py-5">
    <div class="container text-center">
        <h2>¿Dónde estamos?</h2>
    </div>
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1190.20138783265!2d-89.70745689364318!3d13.976007727483294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f6295d6e3135891%3A0x5ac43df933c49844!2sPhysio%20Specialized%20Clinic!5e1!3m2!1ses-419!2ssv!4v1753241830179!5m2!1ses-419!2ssv" 
                width="100%" height="450" style="border:0;" 
                allowfullscreen="" loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</section>


{% endblock %}
